.streamContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-app);
  overflow: hidden;
  position: relative;
}

.streamViewArea {
  flex: 1;
  width: 100%;
  height: calc(100vh - 52px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
